# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
.env
__pycache__
*.pyc
venv
.venv
.DS_Store
dist-ssr
*.local
fraph-backend/.venv/
fraph-backend/fraph.db
fraph-backend/datasets/*.csv
fraph-backend/datasets/*.mapping.json
!fraph-backend/datasets/.gitkeep
fraph-backend/trained_models/*
!fraph-backend/trained_models/.gitkeep
fraph-backend/outputs/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
